html {
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

body{
    color: rgb(194, 194, 194);
    background-color: rgb(9, 9, 9);
    font-size: 13px;
}

/* FONT & ICON ----------------------------------------------------------------------------------*/

.pacifico {
    font-family: "Pacifico", cursive;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* LAYOUT ---------------------------------------------------------------------------------------*/

section{
    padding-bottom:100px;
}

.section-title{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 5px;
}

.vh-100{
    min-height:100vh;
}

.vh-80{
    min-height:80vh;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.h-100{
    height: 100%;
}

.h-50{
    height: 50%;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.flex-nowrap{
    display: flex;
    flex-flow: row nowrap;
}

.flex-col{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

.flex-col-nowrap{
    display: flex;
    flex-flow: column nowrap;
}

p{
    text-align: justify;
    margin-bottom: 20px;;
}

.text-blue{
    background: -webkit-linear-gradient(rgb(33, 52, 147),rgb(34, 53, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item{
    flex-grow: 1;
    flex-basis: 16%;
}

/* NAV ------------------------------------------------------------------------------------------*/

nav{
    display: flex;
    gap: 40px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height:50px;
    position: sticky;
    top:0;
    background-color: rgb(9, 9, 9);
}

.nav-menu{
    text-decoration: none;
    color: rgb(155, 155, 155);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: "Nunito", sans-serif;
}

.nav-menu:hover{
    color: white;
    font-weight: 500;
    /* color:rgb(133, 154, 255); */
}

/* HEADER ---------------------------------------------------------------------------------------*/
header{
    height: 100vh;
    background-image: url('assets/image/tulus4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title{
    font-size: 200px;
}

.header-title:hover{
    font-size: 210px;
}

@media only screen and (max-width: 768px) {
    .header-title{
        font-size: 100px;
    }
    
    .header-title:hover{
        font-size: 110px;
    }
}

/* BIOGRAFI--------------------------------------------------------------------------------------*/

.bg-biografi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/image/bg-biografi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 5px;
}

/* CATATAN PERJALANAN----------------------------------------------------------------------------*/

.bg-catatan-perjalanan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/image/bg-catatan-perjalanan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 5px;
}

/* GALERI-----------------------------------------------------------------------------------------*/

.bg-tulus1{
    background-image: url('assets/image/tulus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-tulus2{
    background-image: url('assets/image/tulus7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-tulus5{
    background-image: url('assets/image/tulus5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-tulus6{
    background-image: url('assets/image/tulus6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* KARYA-----------------------------------------------------------------------------------------*/

.karya-card{
    margin: 0px 40px 0px 40px;
    border-radius: 10px;
    overflow-y: scroll; 
    height:600px;
    background-color: rgb(15, 15, 15);
}

.karya-content{
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    margin-top: 20px;
}

.karya-img{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.karya-title{
    position:absolute;
    top: 0px;
    right: 0;
}

.karya-item{
    margin:10px;
    border-radius: 15px;
    /* background-color: rgb(15, 15, 15); */
    position:relative;
    box-shadow: rgba(43, 43, 43, 0.15) 0px 48px 100px 0px;
    /* box-shadow: rgba(200, 200, 200, 0.05) 0px 0px 0px 1px; */
    
}

.karya-item-sub{
    padding: 24px;
}

/* KONTAK----------------------------------------------------------------------------------------*/

footer{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 100px;
}

.kontak{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height:50px;
}

.kontak-item{
    color: rgb(155, 155, 155);
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    body{
        font-size: 10px;
    }
    .w-50{
        width: 100%;
    }
    .w-40{
        width: 100%;
    }
    .flex-nowrap{
        flex-flow: column nowrap;
    /* flex-wrap: wrap; */
    }
    .item{
        flex-grow: unset;
    }
    nav{
        display: flex;
        gap: 40px;
        flex-flow: column nowrap;
        justify-content: flex-start;
        /* align-items: center; */
        position: static;
        margin-top:40px;
        background-color: rgb(9, 9, 9);
    }
    .kontak{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        height:auto;
    }
}